
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/klar
/klar*
!/klar-vscode
/bin/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Packages
node_modules

# VSCode extensions
*.vsix

*ast.json

*.prof
*.pprof

__debug_bin*

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

.qwen
